[submodule ".zsh.d/zsh-notify"]
	path = .zsh.d/zsh-notify
	url = git@github.com:marzocchi/zsh-notify.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim
