[submodule ".zsh.d/zsh-notify"]
	path = .zsh.d/zsh-notify
	url = git@github.com:marzocchi/zsh-notify.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim
[submodule ".vim/colors/molokai"]
	path = .vim/colors/molokai
	url = git@github.com:tomasr/molokai.git
[submodule ".anyenv"]
	path = .anyenv
	url = git@github.com:riywo/anyenv.git
[submodule ".zsh.d/antigen"]
	path = .zsh.d/antigen
	url = git://github.com/zsh-users/antigen.git
