[user]
	name = shogo
	email = shogo@studiofly.net
[alias]
	co = checkout
	br = branch
	ci = commit
	sm = submodule
	cp = cherry-pick
	stat = status
[color]
	ui = true
[push]
	default = upstream
[core]
	excludesfile = ~/.gitignore
  autocrlf = input
  editor = vim

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
