[alias]
  amend = commit --amend
  b = branch
  br = branch
  bd = "!git branch | grep -v '*' | fzf --preview 'echo {} | cut -c 3- | xargs git log --color=always' | xargs git br -d"
  cb = checkout -b
  cd = "!cd $(ghq root)/$(ghq list | fzf)"
  ci = commit
  cleanup = "!git branch --merged | grep -Ev '\\*|main|master' | xargs git branch -d"
  co = checkout
  cp = cherry-pick
  cpn = "!git branch --show-current | tr -d '\n' | pbcopy"
  fap = "!git fetch --all -p && git pull && git cleanup"
  fixit = commit --amend --no-edit
  graph = log --graph --date=short --decorate=short --pretty
  gravedigger = "!git fsck | awk '/dangling commit/ {print $3}' | xargs git logs --name-only | bat"
  logs = "!f() { git log --color=always --oneline $@ | emojify; }; f"
  main = "!git branch -a | grep HEAD | awk '{ print $3 }' | sed -e 's!^[^/]*/!!'"
  me = merge --no-commit --no-ff
  mm = "!git me $(git main)"
  pr = "!git push -u origin && gh pr create --web"
  pv = "!gh pr view --web"
  rbc = rebase --continue
  rbi = rebase -i
  reb = rebase
  rem = "!git rebase -i $(git main)"
  ri = rebase -i
  s = "!f() { git branch | grep -v '*' | sort | uniq | fzf --preview 'echo {} | cut -c 3- | xargs git log --color=always' | xargs git switch; }; f"
  sr = "!f() { git branch -r | sed 's#^[^/]*/##' | grep -v 'HEAD' | sort | uniq | fzf --preview 'echo {} | cut -c 3- | xargs git log --color=always' | xargs git switch; }; f"
  sha = "!f() { git rev-parse "${1-HEAD}"; }; f"
  sm = "!git switch $(git main)"
  st = status
  up = !gitup

[color]
  ui = true

[commit]
  template = ~/.config/git/git-commit-message-template.txt

[core]
  excludesfile = ~/.config/git/.gitignore
  autocrlf = input
  editor = vim
  pager = delta

[delta]
  plus-color = "#012800"
  minus-color = "#340001"
  syntax-theme = Solarized (dark)

[init]
  defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[merge]
  ff = false

[pull]
  rebase = true

[push]
  default = current

[sequence]
  editor = interactive-rebase-tool

[user]
  name = shogogg
  email = shogo@studiofly.net

[url "git@github.com:"]
  insteadOf = https://github.com/
