[user]
  name = shogogg
  email = shogo@studiofly.net
[alias]
  br = branch
  ci = commit
  co = checkout
  cp = cherry-pick
  fap = !git fetch --all -p && git pull
  graph = log --graph --date=short --decorate=short --pretty
  me = merge --no-commit --no-ff
  rbc = rebase --continue
  rbi = rebase -i
  sm = submodule
  st = status
  stat = status
  sw = !git branch -a | fzf | xargs git switch
[color]
  ui = true
[pull]
  rebase = true
[push]
  default = current
[merge]
  ff = false
[core]
  excludesfile = ~/.config/git/.gitignore
  autocrlf = input
  editor = vim
